
<h1>Edit Task</h1>

<%= form_for(@task) do |f| %>
<p>Title</p>
  <%= f.label :name %>
  <%= f.text_field :name %>
<p>Details</p>
  <%= f.label :details %>
  <%= f.text_field :details %>
<p></p>
  <%= f.submit %>
<% end %>


<p></p>

<%= link_to "Back to link", tasks_path %>
